# ======================
# Unity Git Ignore
# ======================

# Unity folders
Library/
Temp/
Obj/
Logs/
UserSettings/

# Visual Studio
.vs/
*.csproj
*.sln
*.user

# Build files
Build/
Builds/

# System files
.DS_Store
Thumbs.db